.cards{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(362px, 1fr));
  /* grid-auto-rows: 361px; */
  gap: 20px 17px;

}