.popup__error-message{
  padding: 0;
  margin: 5px 0 10px 36px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  min-height: 13px;
  color: #ff0000;
}
.popup__error-message:last-of-type{
  margin-bottom: 31.34px;
}
@media  screen and (max-width: 708px) {
  .popup__error-message{
    margin-left: 22px;

  }
}