.popup__content{
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;
  grid-template-rows: min-content min-content 40px;
  grid-template-columns: 40px auto auto;
  /* grid-template-columns: min-content; */
  
  
}