.popup__content {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: 40px 330px 40px;
  grid-template-columns: 40px 430px 40px;
}
@media screen and (max-width: 708px) {
  .popup__content {
    grid-template-rows: 36px 322px 36px;
    grid-template-columns: 36px 282px 36px;
  }
}