.add-button {
  margin: 0;
  padding: 0;
  grid-column: 3/4;
  background-color: #000;
  border: none;
  align-self: center;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 707px) {
  .add-button {
    max-width: 282px;
    max-height: 50px;
    margin: 33px 0 0 0;
    width: 282px;
    height: 50px;
  }
}
