.add-button{
  margin: 0;
  padding: 0;
  grid-column: 3/4;
  background-color: #000;
  border: none;

  align-self: center;
  
}

@media screen and (max-width: 708px) {
  .add-button{
     margin: 36px 0 0 0;
    }
  
}