.popup__button {
  margin: 0 36px 37px 36px;
  min-height: 50px;
  max-width: 358px;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

@media screen and (max-width: 708px) {
  .popup__button {
    margin: 0 22px 25px 22px;
  }
}
