.header{
  max-width: 880px;
  max-height: 119px;
  display: flex;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid #545454;
}
@media screen and (max-width: 906px) {
  .header{
  padding: 0 27px 0 27px;
  max-width: 100%;
}
}