.profile-info__subtitle{
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
font-weight: 400;
font-size: 18px;
line-height: 22px;
align-self: start ;
}

@media screen and (max-width: 707px) {
  .profile-info__subtitle{
    grid-column: 2/3;
  font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
}
}