.profile__avatar {
  margin: 0 30px 0 0;
  padding: 0;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  grid-column: 1/2;
}

@media screen and (max-width: 707px) {
  .profile__avatar {
    align-self: center;
    margin: 0 0 26px 0;
  }
}
