.profile-info {
  grid-column: 2/3;
  display: grid;

  grid-template-columns: max-content min-content;
}

@media screen and (max-width: 707px) {
  .profile-info {
    grid-template-columns: 28px max-content min-content;
    align-items: center;
    flex-wrap: wrap;
  }
}
