.profile-info__name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

@media screen and (max-width: 707px) {
  .profile-info__name {
    grid-column: 2/3;
    font-size: 27px;
    line-height: 33px;
    margin: 0 0 14px 0;
    text-align: center;
  }
}
