.card__like_active {
  background-image: url(../../../../image/LikeActive.svg);
  height: 19px;
  width: 22px;
  /* margin: 5px 5px 0 0; */
  background-repeat: no-repeat;
  background-size: contain;
}
