.popup__title {
  margin: 34px 34px 54px 36px;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 708px) {
  .popup__title {
    margin: 25px 22px 75px 22px;
    padding: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.22;
  }
}
