@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main-content/main-content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__subtitle/profile-info__subtitle.css);
@import url(../blocks/profile-info/__edit-button/profile-info__edit-button.css);
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/hover/hover.css);
@import url(../blocks/edit-button/__image/edit-button__image.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__footer/card__footer.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__like/_disable/card__like_disable.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__title/popup__titile.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/popup/_close/popup_close.css);
